
@font-face {
    font-family:"AvertaStdPE-Regular";
    src:url("Averta-Regular.woff2") format("woff2"),url("Averta-Regular.woff") format("woff"),url("Averta-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        